<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Posteos</title>
</head>
<body>
    <h1>Posteos de la semana:</h1>
    <div class="postContainer">
        {{#each posts}}
            <div>
                <h2>{{this.title}}</h2>
                <p>{{this.content}}</p>
                <hr/>
            </div>
        {{/each}}
    </div>

 <input type="button" onclick="location.href='http://localhost:8080/posts/new';" value="Nuevo post!" />

</body>
</html>