<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/CSS/style.css">
    <title>Login</title>
</head>
<body>
    <h1>Log in</h1>
    <form action="/login" method="POST">
        <div>
            <label>
                Usuario:
            </label>
            <input name="username" id="username" type="text" placeholder="cosme_fulanito" required/>
        </div>
        <div>
            <label>
                Password:
            </label>
            <input type="password" id="password" name="password" placeholder="cosme123" required/> 
        </div>
          {{#if error}}
            <p style="color: red">{{error}}</p>
        {{/if}}
        <input type="submit" value="Ingresar" />
    </form>
    <span>No estás registrado? Registrate <a href="/register">aquí</a></span>
</body>
</html>